
.color0 { color: #ff7977; } 
.color1 { color: #68da47; } 
.color2 { color: #fa5294; } 
.color3 { color: #9921e2; } 
.color4 { color: #3249bc; } 
.color5 { color: #13c8cc; } 
.color6 { color : #a2cf25; } 
.color7 { color: #d2599d; } 
.color8 { color: #f212e0; } 
.color9 { color: #ffff00; } 
.color10 { color: #d97d3f; } 
.color11 { color: #aca212; } 
.color12 { color: #20b8e8; } 
.color13 { color: #25795f; } 
.color14 { color: #cb1967; } 
.color15 { color: #a458c9; } 
.color16 { color: #f746be; } 
.color17 { color: #fffa3a; } 
.color18 { color: #f56e2d; } 
.color19 { color: #9f1429; } 
:root{--color0: #ff7977;--color1: #68da47;--color2: #fa5294;--color3: #9921e2;--color4: #3249bc;--color5: #13c8cc;--color6: #a2cf25;--color7: #d2599d;--color8: #f212e0;--color9: #ffff00;--color10: #d97d3f;--color11: #aca212;--color12: #20b8e8;--color13: #25795f;--color14: #cb1967;--color15: #a458c9;--color16: #f746be;--color17: #fffa3a;--color18: #f56e2d;--color19: #9f1429;}